/*header style*/

header img{
    width: 50%;

    margin-bottom: -8vw;
}

header nav{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2vw;
    margin-right: 2vw;
}

header nav ul{
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}

header nav li{
    display: inline;
    padding: 1vw;
    font-size: 1.5vw;
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
}
header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    font-weight: bold;
    color: pink;
}

header a:visited{
    color: #c1d7ae;
}

#heroImagePages{
    width: 25%;
    left: 0;
    top: 0;
    margin-left: 2vw;
    margin-top: 2vw;
}

/*footer styles*/
footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c1d7ae;
    margin-top: 8vw;
}
.newsletterContent{
    padding-left: 2vw;
}

.getInTouchContent img{
    width: 2vw;
}

.getInTouchContent a{
    text-decoration: none;
    color: black;
}

footer h2{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

footer a:hover{
    font-weight: bold;
}

footer h3{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1vw;
}

footer legend{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1vw;
    font-weight: bold;
}

footer button{
    margin: 1vw;
}

/*section styles*/
#testimonials{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center; 
    margin-top: 8vw;
}

#testimonials h2{
    font-weight: bold;
}

table{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: 4vw;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
}

.vodkaAbout{
    width: 100%;

}
.vodkaAbout h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color: #c1d7ae;
    text-align: center;
    font-size: 5vw;
    margin-right: 0;
}

.vodkaAbout img{
    width: 30vw;
    transform: rotate(15deg);
    padding-left: 5vw;
}

.vodkaAbout p{
    margin: 2vw;
}

/*article styles*/
#daiquiri{ 
    margin-top: 8vw;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: justify;
    display: block;
    background-image: url(images/alcohol/rum/daquiri.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 8vw;
    margin-right: 8vw;
}

#daiquiri h2{
    font-weight: bold;
}

#cosmopolitan{ 
    margin-top: 8vw;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: justify;
    display: block;
    background-image: url(images/alcohol/vodka/cosmopolitan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 8vw;
    margin-right: 8vw;
}

#cosmopolitan h2{
    font-weight: bold;
}

/*Button styles*/

#vodkaAboutBtn{

}

#likeImg{
    height:2vw;
}

#dislikeImg{
    height:2vw;
}